# Automobiles Recommender Model

The profound objective of this simple project is to suggest cars to the customers according to their wishlist. Just like as when a customer approaches any car dealer and he suggests a car based upon the requirements, this model does the same thing by means of Machine Learning.

In [2]:
#import dependencies
import numpy as np
import pandas as pd
import sklearn
from sklearn.neighbors import NearestNeighbors

C:\Users\mauli\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\mauli\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
#load the raw data into a Pandas dataframe
cars = pd.read_csv('Downloads\\mtcars.csv')

### Examine the data

In [5]:
cars.columns = ['cars_names', 'mpg', 'cyl', 'disc', 'hp', 'drat', 'weight', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,cars_names,mpg,cyl,disc,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### Customer's Requirement

In [10]:
m = [15, 300, 160, 3.2]

X = cars.ix[:,(1, 3, 4, 6)].values
X[0:5]

C:\Users\mauli\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ]])

In [11]:
# Create K-Nearest Neighbors
nn = NearestNeighbors(n_neighbors=1).fit(X)

In [15]:
#Get the matched car index
print(nn.kneighbors([m]))

(array([[10.77474942]]), array([[22]], dtype=int64))

### Print the desired car

In [24]:
cars.loc[22]

cars_names    AMC Javelin
mpg                  15.2
cyl                     8
disc                  304
hp                    150
drat                 3.15
weight              3.435
qsec                 17.3
vs                      0
am                      0
gear                    3
carb                    2
Name: 22, dtype: object

Here, AMC Javelin car best matches with the customer's requirement, so it has been suggested.